#comoSurgiuOCentro {
  background-color: #0225CB;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#como-surgiu-o-centro-content {
  width: 80%;
}

.centro-box {
  display: flex;
  width: 100%;
  gap: 0 100px;
  align-items: center;
  margin-bottom: 100px;
}

.centro-imagem-desktop {
  display: block;
}

.centro-imagem-mobile {
  display: none;
}

.centro-box > img {
  width: 50%;
  max-width: 500px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

.centro-titulo-e-conteudo {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.conteudo-texto-centro {
  color: #FFF;
  font-weight: 300;
  font-size: 18px;
  width: 100%;
}


@media (max-width: 1352px) {
  #como-surgiu-o-centro-content {
    width: 90%;
  }
}

@media (max-width: 1199px) {
  .centro-imagem-desktop {
    display: none;
  }

  .centro-imagem-mobile {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .centro-box {
    flex-direction: column;
  }

  .centro-box > img {
    margin-bottom: 50px;
  }

  #tituloComoSurgiuOCentro {
    margin-bottom: 35px;
    justify-content: center;
  }

  .centro-box > img {
    max-width: 100%;
    width: 70%;
  }
}

@media (min-width: 1200px) and (max-width: 1450px) {
  .centro-box {
    gap: 0 50px;
  }
}

@media (max-width: 991px) {
  .icone-titulo-centro {
    width: 10%;
  }

  .centro-box {
    flex-direction: column;
  }

  .centro-box > img {
    margin-bottom: 50px;
  }

  #tituloComoSurgiuOCentro {
    margin-bottom: 35px;
    justify-content: start;
  }

  .centro-box > img {
    max-width: 100%;
    width: 85%;
  }
}