#referencias {
  background: linear-gradient(to bottom, #F5F5F5, #C8D1FF);
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#tituloSectionReferencias {
  margin-left: 17%; 
  margin-bottom: 40px;
}

.referencias-item-container {
  margin-left: 17%; 
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.referencias-item-container > p {
  width: 75%;
}

@media (max-width: 1550px) {
  .referencias-item-container > p {
    width: 85%;
  }
}

@media (max-width: 991px) {
  .referencias-item-container {
    margin-left: 5%;
  }

  .referencias-item-container > p {
    width: 95%;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
  }

  #tituloSectionReferencias {
    margin-left: 5%;
  }
}

@media (max-width: 599px) {
  .referencias-item-container {
    width: 90%;
    margin-left: 0;
  }

  .referencias-item-container > p {
    font-size: 16px !important;
  }
}

@media (max-width: 399px) {
  .referencias-item-container > p {
    font-size: 15px !important;
  }
}